PORT=4000
MONGODB_URI=mongodb://localhost:27017/make-a-mitzva
JWT_SECRET=change_me
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
CLIENT_ORIGINS=http://localhost:5173,https://makeamitsva-orgf.onrender.com
CLIENT_URL=http://localhost:5173
